{% extends 'bootstrap/base.html'%}

<!DOCTYPE html>
<html>
    <head>
        {% block styles %} 
        {{ super() }}
        <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
            {% include 'navbar.html'  %}
        {% endblock %}

        {% block content %} 
        {% endblock %}
    </body>

    {% block scripts %}
    {{super()}}
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
    {% endblock %}

</html>

