
<!-- Display Sources -->
{% macro displaySourcesArray(sources_array) %}
        {% for source in sources_array %}
        <div class="">
            <div class="row">
                <h2><a href="{{source.url}}"></a><strong>{{ source.name}}</strong></h2>
                <h2>{{source.category.upper()}}</h2>
                <h2>{{source.country}}</h2>
            </div>

            <div class="row">
                <p><strong>{{ source.description|truncate(150)}}</strong></p>
            </div>
        </div>
        {% endfor %}
{%endmacro%}

{% macro displayNewsArray(news_array) %}
        <!-- Display News -->

                <!-- {% for id in News %} -->

                    {% for news in news_array %}
                    <div class="col-md-3 single-source">
                    <div class="row">
                        <h2><a href="{{news.url}}"></a><strong>{{ news.title}}</strong></h2>
                        <h2>{{news.author}}</h2>
                        <a href="{{ news.url }}"> Enter...</a>
                        <img src='{{news.urlToImage}}' width="" height="" class="img-responsive">

                    </div>

                    <div class="row">
                        <h2>{{news.description|truncate(60)}}</h2>
                        <p><strong> Date: {{ news.publishedAt[:10]}}</strong></p>
                    </div>
                    </div>
                    {% endfor %}
{%endfor%}
{%endmacro%}



