<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar">

    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><h1>NEWS AGREGGATOR</h1></a>
            
            <p>Welcome to <strong>Your</strong> <strong>News</strong> Today!</p>
        </div>
        

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="https://newsapi.org/v2/top-headlines?country=us&apiKey=3540aa7416f144918cf919d37f574a5c">Top Headlines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="https://newsapi.org/v2/everything?q=entertainment&apiKey=3540aa7416f144918cf919d37f574a5ct">Entertainment News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="https://newsapi.org/v2/everything?q=Sports&apiKey=3540aa7416f144918cf919d37f574a5c">Sports News</a>
                </li>
            </ul>
        </div>
    </div>
</nav>